body {
	background-image: url(../cadastro-estoque/Imagens/18309213_SL-043021-42650-13.jpg);
	background-size: cover;
	font-family: Arial, sans-serif;
	margin: 0;
}

h1 {
	color: #EDAA25;
}

.logo img {
	max-width: 150px;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-form {
	background-color: white;
	padding: 20px;
	max-width: 400px;
	height: 450px;
	margin: auto;
	margin-top: 80px;
	border-radius: 10px;
	color: rgba(29, 31, 31, 0.945);
}

.login-form a {
	color: #218b99;
}

.login-form a:hover {
	color: #EDAA25;
}

.input {
	background-color: rgba(255, 255, 255, 0.871);
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
	border: none;
	box-shadow: 1px 1px 6px #2e282836;
	display: flex;
	flex-direction: column;
	width: 95%;
}

.button-cadastrar {
	background-color: #218b99;
	color: white;
	padding: 10px 150px;
	margin: 0 auto;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	display: block;
}

.button-cadastrar:hover {
	background-color: #30a0ae;
}

.link {
	display: block;
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
}