
		body {
			background-image: url(../cadastro-estoque/Imagens/low-poly-grid-haikei\ \(1\).svg);
			background-size: cover;
			font-family: Arial, sans-serif;
		}	
		h1 {
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: 48px;
			color: #ffffffc1;
			text-align: center;
			margin-top: 100px;

		}
		.login-form{
			background-color: #524e4e91;
			padding: 20px;
			max-width: 400px;
			height: 350px;
			margin: auto;
			margin-top: 50px;
			border-radius: 10px;
			color: #bcdbdf;
		}
		.login-form a {
			margin-top: 5px;
			color: #bcdbdf;
		}		
		.input {
			background-color: #ccc;
			width: 100%;
			padding: 10px;
			margin: 5px 0;
			box-sizing: border-box;
			border-radius: 5px;
			border: none;
			border-bottom: 2px solid #ccc;
			font-size: 16px;
			outline: none;
		}
		.button-cadastrar {
			background-color: #232424a2;
			color: white;
			padding: 10px 150px;
			margin: 0 auto;
			margin-top: 15px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 16px;
			display: block;			
		}
		.button-cadastrar:hover {
			background-color: #2d3035a2;
		}
		.link {
			display: block;
			text-align: center;
			font-size: 16px;
			margin-top: 20px;
		}