body {
    background-image: url(../login-estoque/Imagens/low-poly-grid-haikei\ \(1\).svg);
    background-size: cover;
    font-family: Arial, sans-serif;
}

.login-form h1 {
    text-align: center;
    color: #bcdbdf;
}

.login-form p a {
    color: #bcdbdf;
}

.login-form p a:hover {
    color: #32afbb;
}

.login-form{
    background-color: #524e4e91;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    color: #bcdbdf;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background-color: #ccc;
}

.button-login {
    background-color: #232424a2;
    color: white;
    padding: 10px 165px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-login:hover {
    background-color: #2d3035a2;
}

.link {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}